.main-home {
    position: absolute;
    top: 60px;
    left: 80px;
    right: 10px;
    background-color: #212121;
    bottom: 90px;
    border-radius: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-color: #A91D3A transparent !important;
    scrollbar-width: thin;
    z-index: 2;
}

.main-home h1 {
    color: #C73659;
    position: relative;
    margin-left: 50px;
    text-align: left;
}

.disc-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.disc-list li img {
    border-radius: 8px;
    height: 150px;
    width: 155px;
    margin-right: 40px;
  
}

.disc-list li img:hover {
    cursor: pointer;
}

.disc-list li:first-child {
    margin-left: 20px;
}

.genre-label {
    color: #C73659;
    font-weight: 600;
    transform: translate(-20px, -10px);
   
}


.genre-label:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
