.main-home {
    position: absolute;
    top: 60px;
    left: 80px;
    right: 10px;
    background-color: #212121;
    bottom: 90px;
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-color: #A91D3A #212121;
    scrollbar-width: thin;
    z-index: 2;
}

.main-home h1 {
    color: #C73659;
    position: relative;
    margin-right: 85%;
}

.disc-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* margin-left: 0px; */

}

.disc-list li img {
    border-radius: 8px;
    height: 150px;
    width: 155px;
    margin-right: 40px;
  
}

.disc-list li:first-child {
    margin-left: 20px;
}

.browse-div {
    /* position: relative; */
}