.playback {
    position: absolute;
    margin-top: 0;
    bottom: 25px;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: #151515;
    color: white;
    z-index: 3;
}

.playback h1 {
    margin-top: auto;
    margin-bottom: auto;
    color: #C73659;
}