.playback {
    position: absolute;
    margin-top: 0;
    bottom: 25px;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: #151515;
    color: white;
    z-index: 3;
}

.pb {
    margin: 0 15px 25px 15px;
    color: #EE4C7C;
}
 .play {
    margin-left: 13.5px;
    margin-right: 13.5px;
 }

 
.pb:hover {
    transform: scale(1.2);
}

