.playback {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: #151515;
    color: white;
    z-index: 3;
    padding: 0 10px 10px 10px;
    margin-top: 5px;
}

.playback .rhap_container {
    background-color: #151515;
    color: #ffffff !important;
    border-radius: 8px;
    height: 90px;
    max-width: 30%;
    margin: 5px auto 0 auto;
}



.rhap_progress-container .rhap_progress-filled {
    background-color: #EE4C7C !important;
}

.rhap_progress-indicator {
    background-color: #A91D3A !important;
}

.rhap_current-time{
    color: #555;
}

.rhap_total-time{
    color: #555;
}

.rhap_controls {
    color: #fff;
}

.rhap_repeat-button {
    color: #fff !important;
}

.rhap_play-pause-button {
    color: #fff;
}

.rhap_volume-bar {
    background-color: #555;
}

.rhap_volume-button {
    color: #fff;
}
.rhap_volume-indicator {
    background-color: #fff;
}

.playback-info img {
    position: absolute;
    left: 18px;
    top: 20px;
    height: 65px;
    width: auto;
    border-radius: 8px;
}

.playback-info h4 {
    position: absolute;
    left: 100px;
    top: 10px;
    color: #EEEEEE;
}

.playback-info span {
    position: absolute;
    left: 100px;
    top: 55px;
    font-size: small;
    color: #808080;
}