.topbar {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100vw;
}

.title{
    position: absolute;
    left: 30px;
    /* transform: translateY(-30%); */
    margin-top: 8px;
    color: #EE4C7C;
    font-family: 'Pricedown';
    font-size: 225%;
}

@font-face {
    font-family: 'Pricedown';
    src: url('/Users/xjohnsondev/Documents/coding/Tempo/frontend/src/pricedown bl.otf');
  }