.main-home {
    position: absolute;
    top: 60px;
    left: 80px;
    right: 10px;
    background-color: #212121;
    bottom: 90px;
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-color: #A91D3A #212121;
    scrollbar-width: thin;
    z-index: 2;
}

.listing-art {
    height: 60px;
    width: 60px;
    border-radius: 8px;
}

.tracklist-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
    border-bottom: 2px solid #333;
    color: #C73659;
    font-weight: 500;
}

.header-title {
    text-align: left;
    margin-left: 10px;
}

.header-plays,
.header-length {
    text-align: right;
}

.header-length {
    margin-right: 15px;
}

.header-plays {
    margin-right: 0px;
}

.tracklist {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.listing {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    margin-top: -5px;
    /* border-bottom: 1px solid #333; */
}

.song-details {
    display: flex;
    flex-direction: column;
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.song-details h4 {
    color: #C73659;
    font-weight: 500;
    font-size: 120%;
    margin: 0 0 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.tl-artist {
    color: #C73659;
    font-size: 12px;
    margin: 3px 0 0 15px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.tl-plays,
.tl-length {
    color: #C73659;
    margin: 0;
    text-align: right;
}

.tl-length {
    position: relative;
    margin-left: auto;
    margin-right: 5px;
}

.tl-plays {
    position: relative;
    margin-right: 6px;
}

.explicit-tag {
    height: 13px;
    width: 13px;
    margin: 1px 5px 0 5px;
}

@media screen and (max-width: 680px) {
    .header-plays,
    .tl-plays {
        display: none;
    }

    .header-length,
    .tl-length {
        position: relative;
        left: 95%;
    }

}